html {
	background: linear-gradient(green, white);
	background-repeat: no-repeat;
	height: 100%;
	font-family: sans-serif;
}

.nav {
	background-color: #333;
	width: 10%;
	height: 100%;
	position: fixed;
}

.nav img {
	display: block;
	width: 80%;
	margin: auto;
	padding: 5%;
}

.button {
	display: block;
	margin-top: 100%;
	padding: 5%;
	background-color: #3B5998;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li a {
	display: block;
	color: white;
	padding: 8px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}

.content {
	width: auto;
	margin-left: 11%;
	padding: 1px 16px;
	height: auto;
	background-color: #f1f1f1;
}

.content img {
	display: inline-block;
	margin-top: 3%;
	height: 400px;
	width: 600px;
}

#marquee-container {
 width: auto; /* or whatever you want */
 margin: auto; /* centers it */
 margin-left: 11%;
 overflow: hidden;
 white-space: nowrap;
}